<div class="row">
  <div class="col-xs-12" >
    <div class="top" id="top-line-chart">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-7">
    <div class="bottom-left" id="browser">

    </div>
  </div>
  <div class="col-xs-5">
    <div class="bottom-right" id="ret_visitors">

    </div>
  </div>
</div>
<%= react_component('LineChart', { data: [] })%>
<%= react_component('Books', { data: @books })%>