<div class="row">
  <div class="col-xs-12" >
    <div class="top" id="piechart" style="display: none;">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-7">
    <div class="bottom-left" id="barchart" style="display: none;">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="bottom-right" id="linechart" style="display: none;">

    </div>
  </div>
</div>
<%#= react_component('Piechart', html_options={id: "piechart"})%>
<%= react_component('Books', { data: @books })%>