<% if Book.pluck(:quantity) %>
<div class="row">
  <div class="col-xs-12" >
    <div class="top" id="piechart">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-7">
    <div class="bottom-left" id="barchart" style="display: none;">

    </div>
  </div>
</div>
<% end %>
<!--<div class="row">-->
  <!--<div class="col-xs-5">-->
    <!--<div class="bottom-right" id="linechart" style="display: none;">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<%= react_component('LineChart', { data: [] }, html_options={id: "linechart", style: 'display: none;'})%>
<%= react_component('Books', { data: @books })%>